<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="movies catalog website">
	<meta name="author" content="Surya Kant Bansal">

	<title>Movie-Cafe</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('main_page') }}">Movie-Cafe</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{% for genre in genres %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('genre_page', genre=genre.name) }}">{{genre.name}}</a>
					</li>
					{% endfor %}
				</ul>
				{% if login_session.get('email') %}
					<button href="#" onclick="logout()" class="btn btn-secondary">Logout</button>				
				{% else %}
					<button href="#" id="google_login" class="btn btn-secondary">Login</button>
				{% endif %}
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container" id="main-content">
		{% block content %} {% endblock %}
		{% if request.path != url_for('post_page') %}
			<form action="{{ url_for('post_page') }}">
				<button id="add-btn" type="submit" class="btn btn-primary btn-lg">New Post</button>
			</form>
		{% endif %}
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<!-- Platform JS -->
	<script src="https://apis.google.com/js/platform.js"></script>

	<script>
		var state = '{{STATE}}';
	</script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
