{% extends "base.html" %} {% block content %}
<h1 class="my-4">{{movie.name}}</h1>
<div class="row">
    <div class="col-md-7">
        <img class="img-fluid" src={{movie.posterUrl}} alt="">
    </div>
    <div class="col-md-5">
        <h3 class="my-3">{{movie.name}}</h3>
        <p>{{movie.description}}</p>
        <h3 class="my-3">Directed By :</h3>
        <p>{{movie.director}}</p>
        {% if login_session.get('email') == movie.user_email %}
            <a class="btn btn-danger" href="{{ url_for('delete_movie', movie_id=movie.id )}}">Delete</a>
            <a class="btn btn-primary" data-toggle="collapse" href="#edit-form" aria-expanded="false" aria-controls="edit-form">Edit</a>
            <form id="edit-form" class="collapse" action="{{ url_for('edit_movie', movie_id=movie.id) }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col">
                        <input name="name" type="text" placeholder="Name" class="form-control" value="{{movie.name}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input name="director" type="text" placeholder="Director" class="form-control" value="{{movie.director}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <textarea name="description" class="form-control" placeholder="Description" rows="5">{{movie.description}}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input name="posterUrl" type="url" placeholder="Poster URL" class="form-control" value="{{movie.posterUrl}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
